<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="light_macro" params="light_id *origin">
    <link name="light_${light_id}">
        <visual>
        <geometry>
            <cylinder radius="0.02" length="0.1"/> 
        </geometry>
        </visual>
    </link>

    <joint name="light_joint_${light_id}" type="fixed">
        <xacro:insert_block name="origin"/>
        <parent link="base_link"/>
        <child link="light_${light_id}"/>
        <axis xyz="1 0 0"/>
    </joint>

    <gazebo reference="light_${light_id}">
        <light name="light_${light_id}" type="point">
            <pose>0 0 0 0 1.57 3.14</pose> 
            <attenuation>
                <range>10</range>
                <constant>1</constant>
                <linear>0.12</linear>
                <quadratic>0.05</quadratic>
            </attenuation>
            <cutoff>0.785</cutoff>
            <diffuse>1 1 1 1</diffuse> 
            <specular>1 1 1 1</specular>
            <visualize>false</visualize>
        </light>
    </gazebo>
    </xacro:macro>
</robot>