<?xml version="1.0"?>

<model>
    <name>GateLeftImageLabel</name>
    <version>1.0</version>
    <sdf version="1.10">model.sdf</sdf>

    <author>
        <name>Jaiden Lee</name>
        <email></email>
    </author>

    <description>
        The invisible bounding box label for the left gate image
    </description>
</model>
