<?xml version="1.0"?>

<model>
    <name>Gate</name>
    <version>1.0</version>
    <sdf version="1.10">model.sdf</sdf>

    <author>
        <name>Jaiden Lee</name>
        <email></email>
    </author>

    <description>
        This is a custom model of the Robosub Gate made in Blender
    </description>
</model>
